@if (user) {
  <mat-card appearance="outlined" class="user-detail-header">
    <button class="options-button" [matMenuTriggerFor]="menuUserDetails" mat-icon-button aria-label="Further Options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuUserDetails="matMenu">
        <button mat-menu-item (click)="editUserDetails()">Edit</button>
      </mat-menu>
    <mat-card-content>
      <img class="profil-logo" src="../assets/images/profil-logo.png" alt="Profil Logo">
      <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }} </h2>
        <p>{{ user.email }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="user-details-body">
      <mat-card-header>
        <mat-card-title>Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ user.street}}</p>
        <p>{{ user.zipCode }} {{ user.city }}</p>
      </mat-card-content>
      <button class="options-button" [matMenuTriggerFor]="menuUserAddress" mat-icon-button aria-label="Further Options">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuUserAddress="matMenu">
        <button mat-menu-item (click)="editUserAddress()">Edit</button>
      </mat-menu>
  </mat-card>
} @else {
  <div class="user-detail-loading">
    <mat-spinner></mat-spinner>
  </div>
}



