<mat-card appearance="outlined">
  <mat-card-content>

    <table class="user-table">
      <tr>
        <th>
          Name
        </th>
        <th>
          E-Mail
        </th>
        <th>
          City
        </th>
      </tr>
      <tr>
        <th>
          Peter
        </th>
        <th>
          {{ 'Peter@test.de' }}
        </th>
        <th>
          München
        </th>
      </tr>
    </table>



  </mat-card-content>
</mat-card>

<div class="add-user-button-container" matTooltip="Add User">
  <button
    mat-fab
    color="warn"
    aria-label="Add User Button"
    (click)="openDialog()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</div>
